@model IEnumerable<WebApplicationLab.Models.Phone>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("admin"))
{
    <div class="phone">
        @Html.ActionLink("Добавить", "Create")
    </div>
}

<div class="link-filter">
    @Html.ActionLink("Фильтр", "Filtr")
</div>

@foreach (var item in Model) {
    <article>
        <h2>@item.Company.Name @item.Name @item.Memory Gb</h2>  
        <div class="phone-index">
            <img src="@item.Image" alt="Image" />
            <p2>@item.Description</p2>
            <p1>@item.Price Rub.</p1>
            @Html.ActionLink("Подробнее", "Details", new { id = item.Id } )
        </div> 
    </article>
}

@if (!Model.Any()) {
    <div>Нет телефонов, подходящих условиям поиска!</div>
}